################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/docs/_site
/docs/.bundle
/docs/.sass-cache
/docs/Gemfile.lock
/docs/_site
/docs/node_modules
/docs/Gemfile*